Repository Logical-Byte/endfield-essence-recognizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.10.0
  hooks:
    # Update the uv lockfile
    - id: uv-lock
      files: ^(pyproject\.toml|uv\.lock)$
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
      types_or: [python, pyi]
    # Run the formatter.
    - id: ruff-format
      types_or: [python, pyi]
- repo: local
  hooks:
    - id: pytest
      name: Run Pytest
      language: system
      entry: uv run pytest tests
      types: [python]
      pass_filenames: false
    - id: frontend-lint
      name: Frontend Lint
      language: system
      entry: npm run --prefix frontend lint
      files: ^frontend/
      pass_filenames: false
    - id: frontend-typecheck
      name: Frontend Typecheck
      language: system
      entry: npm run --prefix frontend type-check
      files: ^frontend/
      pass_filenames: false

refactor: rename color recognizer to hue recognizer
  src/endfield_essence_recognizer/core/recognition/__init__.py
  src/endfield_essence_recognizer/core/recognition/hue_recognizer.py
  src/endfield_essence_recognizer/core/recognition/tasks/essence_rarity.py
  tests/unit/core/recognition/test_hue_recognizer.py
Due: pytest

fix: 修改金色基质类别为“无瑕”
  frontend/src/pages/settings.vue
  src/endfield_essence_recognizer/core/scanner/evaluate.py
Due: pytest, frontend-lint, frontend-typecheck

feat(frontend): add non-five-star essence handling options in settings
  frontend/src/pages/settings.vue
Due: frontend-lint, frontend-typecheck

feat(evaluate): add skip logic for non-5-star essences and update user settings
  src/endfield_essence_recognizer/core/scanner/action_logic.py
  src/endfield_essence_recognizer/core/scanner/evaluate.py
  src/endfield_essence_recognizer/core/scanner/models.py
  src/endfield_essence_recognizer/schemas/user_setting.py
  tests/unit/core/scanner/test_action_logic.py
  tests/unit/core/scanner/test_evaluate.py
Due: pytest

feat(recognition): add ColorRecognizer and related classes for color detection
  src/endfield_essence_recognizer/core/recognition/__init__.py
  src/endfield_essence_recognizer/core/recognition/color_recognizer.py
  tests/unit/core/recognition/test_color_recognizer.py
Due: pytest

feat(recognition): implement essence rarity recognition and related structures
  src/endfield_essence_recognizer/core/layout/base.py
  src/endfield_essence_recognizer/core/layout/res_1080p.py
  src/endfield_essence_recognizer/core/layout/scalable.py
  src/endfield_essence_recognizer/core/recognition/__init__.py
  src/endfield_essence_recognizer/core/recognition/tasks/essence_rarity.py
  src/endfield_essence_recognizer/core/scanner/context.py
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/scanner/models.py
  src/endfield_essence_recognizer/dependencies/core.py
  src/endfield_essence_recognizer/dependencies/recognition.py
  tests/unit/core/scanner/test_action_logic.py
  tests/unit/core/scanner/test_engine.py
  tests/unit/core/scanner/test_evaluate.py
Due: pytest

feat: implement RARITY_ROI for DynamicResolutionProfile
  src/endfield_essence_recognizer/core/layout/dynamic.py
Due: pytest

feat(window): add drag action support to WindowManager
  src/endfield_essence_recognizer/core/interfaces.py
  src/endfield_essence_recognizer/core/window/manager.py
  src/endfield_essence_recognizer/core/window/windows_utils.py
  tests/unit/core/window/test_manager.py
Due: pytest

style: fix formatting in test_manager.py
  tests/unit/core/window/test_manager.py
Due: pytest

fix: update rarity labels log message for essence recognition
  src/endfield_essence_recognizer/core/scanner/engine.py
Due: pytest

refactor: replace Recognizer with TemplateRecognizer and remove base module
  src/endfield_essence_recognizer/core/delivery_claimer/engine.py
  src/endfield_essence_recognizer/core/recognition/__init__.py
  src/endfield_essence_recognizer/core/recognition/base.py
  src/endfield_essence_recognizer/core/recognition/tasks/abandon_lock_status.py
  src/endfield_essence_recognizer/core/recognition/tasks/attribute.py
  src/endfield_essence_recognizer/core/recognition/tasks/delivery_job_reward.py
  src/endfield_essence_recognizer/core/recognition/tasks/delivery_ui.py
  src/endfield_essence_recognizer/core/recognition/tasks/ui.py
  src/endfield_essence_recognizer/core/recognition/template_recognizer.py
  tests/unit/core/scanner/test_engine.py
  tests/unit/recognition/test_recognizer.py
Due: pytest

fix: update Traversable import to use importlib.resources.abc
  src/endfield_essence_recognizer/core/recognition/template_recognizer.py
  src/endfield_essence_recognizer/services/audio_service.py
Due: pytest

fix: make type checker happy
  tests/unit/core/scanner/test_engine.py
  tests/unit/services/test_log_service.py
Due: pytest

feat(scanner): add draggable scanner engine with auto page flip
  frontend/src/pages/settings.vue
  src/endfield_essence_recognizer/core/layout/dynamic.py
  src/endfield_essence_recognizer/core/layout/res_1080p.py
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/window/adapter.py
  src/endfield_essence_recognizer/core/window/scaling.py
  src/endfield_essence_recognizer/dependencies/core.py
  src/endfield_essence_recognizer/schemas/user_setting.py
Due: pytest, frontend-lint, frontend-typecheck

用户终止时不再重复翻下一页
  src/endfield_essence_recognizer/core/scanner/engine.py
Due: pytest

不会重复扫描的自动翻页实现，包含设置UI
  src/endfield_essence_recognizer/core/interfaces.py
  src/endfield_essence_recognizer/core/layout/scalable.py
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/window/adapter.py
  src/endfield_essence_recognizer/core/window/manager.py
  src/endfield_essence_recognizer/core/window/scaling.py
  src/endfield_essence_recognizer/core/window/windows_utils.py
  tests/unit/core/window/test_manager.py
Due: pytest

feat: 武器基质数量统计, 前端轮询更新状态
  frontend/src/composables/useScanningStatus.ts
  frontend/src/pages/index.vue
  frontend/src/pages/settings.vue
  src/endfield_essence_recognizer/api/routes/scanner.py
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/scanner/evaluate.py
  src/endfield_essence_recognizer/core/scanner/models.py
  src/endfield_essence_recognizer/services/scanner_service.py
Due: pytest, frontend-lint, frontend-typecheck

feat: 更新物品和 wiki 图标 URL
  src/endfield_essence_recognizer/services/static_data_service.py
Due: pytest

feat: 缩小快捷选择判定区
  frontend/src/pages/settings.vue
Due: frontend-lint, frontend-typecheck

重构代码，使得代码模块更清晰
  src/endfield_essence_recognizer/core/interfaces.py
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/window/adapter.py
  src/endfield_essence_recognizer/core/window/manager.py
  src/endfield_essence_recognizer/core/window/scaling.py
  src/endfield_essence_recognizer/core/window/windows_utils.py
  src/endfield_essence_recognizer/schemas/user_setting.py
Due: pytest

删除用不到的函数，新增参数直接调用，微调滑动终止保持时间
  src/endfield_essence_recognizer/core/interfaces.py
  src/endfield_essence_recognizer/core/layout/base.py
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/window/adapter.py
  src/endfield_essence_recognizer/core/window/manager.py
  src/endfield_essence_recognizer/core/window/scaling.py
  src/endfield_essence_recognizer/core/window/windows_utils.py
Due: pytest

修复格式
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/window/manager.py
  src/endfield_essence_recognizer/core/window/scaling.py
  src/endfield_essence_recognizer/core/window/windows_utils.py
Due: pytest

remove dead code
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/window/windows_utils.py
Due: pytest

chore: 日志中的武器名按照稀有度染色，加锁/弃置操作高亮
  src/endfield_essence_recognizer/core/scanner/engine.py
  src/endfield_essence_recognizer/core/scanner/evaluate.py
Due: pytest

Chore: remove unused ScalableResolutionProfile code
  src/endfield_essence_recognizer/core/layout/scalable.py
  tests/unit/core/layout/test_scalable.py
Due: pytest

chore: 日志中的武器名按照稀有度染色，加锁/弃置操作高亮，适配最新版本
  src/endfield_essence_recognizer/core/scanner/engine.py
Due: pytest

仅修复白屏问题的分支
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/utils/gameData/staticData.ts
  frontend/vite.config.mts
  src/endfield_essence_recognizer/lifespan.py
Due: pytest, frontend-lint, frontend-typecheck

增加了更多的mime类型，以及两个测试文件
  src/endfield_essence_recognizer/lifespan.py
  tests/integration/test_static_files_mime.py
  tests/integration/test_static_files_mime_full.py
Due: pytest

格式检查修正
  tests/integration/test_static_files_mime.py
  tests/integration/test_static_files_mime_full.py
Due: pytest

feat(scanner): 战未来扫描将识别到的已拥有武器写入宝藏基质
  frontend/src/pages/settings.vue
  src/endfield_essence_recognizer/core/scanner/engine.py
Due: pytest, frontend-lint, frontend-typecheck

fix: sync scanned weapon levels to profiles.json when treasure limit is disabled
  src/endfield_essence_recognizer/core/scanner/evaluate.py
  tests/unit/core/scanner/test_evaluate.py
Due: pytest

feat(profiles): 新增刷取地点筛选接口
  src/endfield_essence_recognizer/api/routes/profiles.py
  src/endfield_essence_recognizer/schemas/profile.py
  src/endfield_essence_recognizer/services/profile_manager.py
  tests/unit/services/test_profile_manager.py
Due: pytest

feat(planner): 需求设定新增刷取地点筛选并自动落盘
  frontend/src/composables/__tests__/useProfiles.test.ts
  frontend/src/composables/useProfiles.ts
  frontend/src/pages/matrix-planner.vue
  tests/integration/test_profiles_api.py
Due: pytest, frontend-lint, frontend-typecheck

chore(profiles): 补充 clear_profile_data 保留刷取地点筛选的文档说明
  src/endfield_essence_recognizer/services/profile_manager.py
Due: pytest

test(planner): 补充刷取地点筛选「配置回填不回写」的回归测试
  .gitignore
  frontend/src/pages/__tests__/matrixPlannerFarmingLocations.test.ts
  frontend/src/pages/matrix-planner.vue
Due: frontend-lint, frontend-typecheck

chore(settings): 对冗余基质的文案进行优化
  frontend/src/pages/settings.vue
Due: frontend-lint, frontend-typecheck

feat(recognition): 新增卡片状态角标检测器（已锁定 / 已弃用）
  src/endfield_essence_recognizer/core/recognition/__init__.py
  src/endfield_essence_recognizer/core/recognition/tasks/skip_marker.py
  src/endfield_essence_recognizer/templates/screenshot/卡片弃用标记.png
  src/endfield_essence_recognizer/templates/screenshot/卡片锁定标记.png
  tests/fixtures/test_a.webp
  tests/fixtures/test_b.webp
  tests/fixtures/test_c.webp
  tests/unit/test_skip_marker_detection.py
Due: pytest

feat(settings): 新增"扫描前跳过已处理过的基质"双开关
  frontend/src/pages/settings.vue
  src/endfield_essence_recognizer/schemas/user_setting.py
  tests/test_user_setting_manager.py
Due: pytest, frontend-lint, frontend-typecheck

refactor(scanner): ScannerContext 接入角标检测器依赖
  scripts/test_inventory_page_flip.py
  src/endfield_essence_recognizer/core/scanner/context.py
  src/endfield_essence_recognizer/dependencies/core.py
  src/endfield_essence_recognizer/dependencies/recognition.py
  tests/unit/core/scanner/test_cleanup.py
  tests/unit/core/scanner/test_engine.py
Due: pytest

feat(scanner): 扫描时跳过已锁定 / 已弃用的基质
  src/endfield_essence_recognizer/core/scanner/engine.py
  tests/unit/core/scanner/test_engine.py
Due: pytest
