Repository Logical-Byte/endfield-essence-recognizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, frontend-lint, frontend-typecheck

pytest:
  name: Run Pytest
  language: system
  entry: uv run pytest tests
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  language: system
  entry: npm run --prefix frontend lint
  pass_filenames: false

frontend-typecheck:
  name: Frontend Typecheck
  language: system
  entry: npm run --prefix frontend type-check
  pass_filenames: false

fix(recognition): 角标搜索窗越过图像左/上边缘时返回"无法判断"
  src/endfield_essence_recognizer/core/recognition/tasks/skip_marker.py
  tests/unit/test_skip_marker_detection.py
Due: pytest

feat(scanner): 收尾日志按稀有度/品质/跳过数汇总，设置页提示
  frontend/src/pages/settings.vue
  src/endfield_essence_recognizer/core/scanner/engine.py
  tests/unit/core/scanner/test_engine.py
Due: pytest, frontend-lint, frontend-typecheck

chore: Frontend Format Check
  frontend/src/pages/settings.vue
Due: frontend-lint, frontend-typecheck

feat(export): 为 image_base64 添加 max_length 校验，防止超大载荷
  src/endfield_essence_recognizer/schemas/matrix_export.py
  tests/integration/test_matrix_export_route.py
Due: pytest

fix(overview): 总览标题计数拆成「内置 xx/77 · 自定义 yy/YY」
  frontend/src/components/WeaponOverview.vue
Due: frontend-lint, frontend-typecheck

fix(overview): 未拥有武器的基质匹配优先级无法落盘
  frontend/src/components/WeaponDetailDialog.vue
Due: frontend-lint, frontend-typecheck

fix(overview): 优先级防抖保存不再串武器、不再误清定时器
  frontend/src/components/WeaponDetailDialog.vue
Due: frontend-lint, frontend-typecheck

fix(export): 订正 image_base64 注释，并把两层上限关系写成断言
  src/endfield_essence_recognizer/schemas/matrix_export.py
  tests/integration/test_matrix_export_route.py
Due: pytest

chore: release 1.3.0
  pyproject.toml
  uv.lock
Due: none

fix(layout): 修正窄比例分辨率下滚动条检测点漂移
  src/endfield_essence_recognizer/core/layout/dynamic.py
  tests/unit/core/layout/test_dynamic.py
Due: pytest

fix(scanner): 扩大滚动条亮点检测框的横向容差
  src/endfield_essence_recognizer/core/scanner/engine.py
  tests/unit/core/scanner/test_scrollbar_detection.py
Due: pytest

Path conditions:
  pytest: any of: \.py$
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
